@using NoiseCalculator.UI.Web.Resources
@model NoiseCalculator.UI.Web.ViewModels.RotationViewModel

<input id="rotationId" type="hidden" value="@Model.RotationId" />
<input class="selectedTaskId" type="hidden" value="@Model.SelectedTaskId" />
<input id="roleType" type="hidden" value="@Model.RoleType" />

<p>
    <label for="Title" class="span80">@TaskResources.TaskTitleLabel</label>
    <span id="Title">: @Model.Title</span>
</p>

<p style="margin-top: 10px;">
        <label class="span80">@TaskResources.TaskFormRegularWorkAmountTypeLabel</label>
        :
        <span class="span120">
            <input id="workTimeRadio" type="radio" name="group2" value="worktime" @Model.RadioTimeCheckedAttr />
            <label for="workTimeRadio">@TaskResources.TaskFormRegularWorkTimeLabel</label>
        </span>
            
        <span class="span120">
            <input id="percentRadio" type="radio" name="group2" value="percent" @Model.RadioPercentageCheckedAttr />
            <label for="percentRadio">@TaskResources.TaskFormRegularPercentageLabel</label>
        </span>
    </p>

<p>
    <label class="span80"></label>
    :
    <span class="span120" id="workTimeSpan" style="margin-left: 8px;" >
        <input id="hours" type="text" style="width: 20px; height: 13px;" />
        @TaskResources.HoursUnit
        <input id="minutes" type="text" style="width: 26px; height: 13px;" />
        @TaskResources.MinutesUnit
    </span>
            
    <span class="span120" id="percentageSpan">
        <input id="percentage" type="text" style="width: 26px; height: 13px;" />
        %
    </span>
</p>

<div class="rotationSubTaskDiv">
    <p>
        <strong>Operator Work</strong>
        <span id="timeOperatorSpan" class="span120" style="margin-left: 8px; display: none;" >
            <span id="hoursOperator" class="workTimeEchoSpan">0</span>
            @TaskResources.HoursUnit
            <span id="minutesOperator" class="workTimeEchoSpan">0</span>
            @TaskResources.MinutesUnit
        </span>
        
        <span id="percentageOperatorSpan" style="display: none;">
            <span id="percentageOperator" class="workTimeEchoSpan">0</span>
            %
        </span>
    </p>
    
    <p>
        <strong>@Model.OperatorTitle</strong>
    </p>

    <p>
        <label class="span80">@TaskResources.TaskFormRegularNoiseMeasuredLabel</label>
        :
        <span class="span80">
            <input id="noiseMeasuredNoOperator" type="radio" name="group1" value="false" @Model.RadioNoiseMeassuredNoCheckedAttr />
            <label for="noiseMeasuredNoOperator">@TaskResources.No</label>
        </span>
            
        <span class="span80">
            <input id="noiseMeasuredYesOperator" type="radio" name="group1" @Model.RadioNoiseMeassuredYesCheckedAttr />
            <label id="noiseMeasuredYesOperatorLabel" for="noiseMeasuredYesOperator">@TaskResources.Yes</label>
        </span>
    </p>
    
    <p>
        <label class="span80"></label>
        <span class="span80" id="noiseLevelGuidlineOperator" style="margin-left: 8px;"><span id="noiseLevelGuidlineValueOperator">@Model.OperatorNoiseLevelGuideline</span> dBA</span>
        <span class="span80" id="noiseLevelMeassuredSpanOperator">
            <input id="noiseLevelMeassuredOperator" type="text" style="width: 30px; height: 13px;" />
            dBA
        </span>
    </p>
</div>

<div class="rotationSubTaskDiv">
    <p>
        <strong>Assistant Work</strong>
        <span id="timeAssistantSpan" class="span120" style="margin-left: 8px; display: none;" >
            <span id="hoursAssistant" class="workTimeEchoSpan">0</span>
            @TaskResources.HoursUnit
            <span id="minutesAssistant" class="workTimeEchoSpan">0</span>
            @TaskResources.MinutesUnit
        </span>
            
        <span id="percentageAssistantSpan" style="display: none;">
            <span id="percentageAssistant" class="workTimeEchoSpan">0</span>
            %
        </span>
    </p>
    
    <p>
        <strong>@Model.AssistantTitle</strong>
    </p>
    
    <p>
        <label class="span80">@TaskResources.TaskFormRegularNoiseMeasuredLabel</label>
        :
        <span class="span80">
            <input id="noiseMeasuredNoAssistant" type="radio" name="group3" value="false" @Model.RadioNoiseMeassuredNoCheckedAttr />
            <label for="noiseMeasuredNoAssistant">@TaskResources.No</label>
        </span>
            
        <span class="span80">
            <input id="noiseMeasuredYesAssistant" type="radio" name="group3" @Model.RadioNoiseMeassuredYesCheckedAttr />
            <label id="noiseMeasuredYesLabel" for="noiseMeasuredYesAssistant">@TaskResources.Yes</label>
        </span>
    </p>
    
    <p>
        <label class="span80"></label>
        <span class="span80" id="noiseLevelGuidlineAssistant" style="margin-left: 8px;"><span id="noiseLevelGuidlineValueAssistant">@Model.AssistantNoiseLevelGuideline</span> dBA</span>
        <span class="span80" id="noiseLevelMeassuredSpanAssistant">
            <input id="noiseLevelMeassuredAssistant" type="text" style="width: 30px; height: 13px;" />
            dBA
        </span>
    </p>
</div>