@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@using NoiseCalculator.UI.Web.Resources
@model NoiseCalculator.UI.Web.Areas.Admin.Models.Generic.DeleteConfirmationViewModel

<input id="dialogTitleConfirmDelete" type="hidden" value="@AdminResources.DeleteConfirmationWindowTitle" />
<input id="urlDeleteAction" type="hidden" value="@Url.Action("Delete")" />
<input id="idToDelete" type="hidden" value="@Model.Id" />
    
<p>
    <span class="label-130px">@TaskResources.RemoveTaskConfirmationTitle</span>
    <strong>: @Model.Title</strong>
</p>

<p style="margin-top: 20px;">
    <div id="confirmDeleteButton" class="button">
        <img src="@Url.Content("~/Content/bin_closed.png")" class="buttonIcon" />
        @TaskResources.RemoveTaskConfirmationButtonRemove
    </div>
        
    <div id="cancelDeleteButton" class="button" style="margin-left: 40px;">
        <img src="@Url.Content("~/Content/cancel.png")" class="buttonIcon" />
        @TaskResources.RemoveTaskConfirmationButtonClose
    </div>
</p>

<br clear="all"/>