@using NoiseCalculator.UI.Web.Resources
@model NoiseCalculator.UI.Web.ViewModels.DeleteConfirmationViewModel

<input id="dialogTitleConfirmDelete" type="hidden" value="Confirm delete??" />
<input id="idToDelete" type="hidden" value="@Model.Id" />
    
<p>
    <span class="label-130px">Definition Name</span>
    <strong>: @Model.SystemName</strong>
</p>

<p style="margin-top: 20px;">
    <a href=""></a>
    <div id="confirmDeleteButton" class="button">
        <img src="@Url.Content("~/Content/bin_closed.png")" class="buttonIcon" />
        @TaskResources.RemoveTaskConfirmationButtonRemove
    </div>
        
    <div id="cancelDeleteButton" class="button" style="margin-left: 40px;">
        <img src="@Url.Content("~/Content/cancel.png")" class="buttonIcon" />
        @TaskResources.RemoveTaskConfirmationButtonClose
    </div>
</p>

<br clear="all"/>