@using NoiseCalculator.UI.Web.Areas.Admin.Models
@model NoiseCalculator.UI.Web.Areas.Admin.Models.GenericDefinitionViewModel

<input type="hidden" id="urlCreateTranslation" value="@Model.UrlCreateTranslation" />
<input type="hidden" id="urlEditTranslation" value="@Model.UrlEditTranslation" />
<input type="hidden" id="urlDeleteTranslationConformation" value="@Model.UrlDeleteTranslationConfirmation" />
<input type="hidden" id="definitionId" value="@Model.Id" />

<p>
    <label for="Title" class="span80">Title</label>
    <input id="SystemName" type="text" name="Title" style="width: 280px;" value="@Model.SystemName" />
</p>

<strong>Translations</strong>
<br/>
    
<button id="addNewTranslation" class="button" style="font-size: 12px;">
    <img src="@Url.Content("~/Content/add.png")" class="buttonIcon" />
    Add New
</button>

<br clear="all" />
    
<table id="translations" style="margin-top: 10px;">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Language</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (GenericTranslationViewModel translationViewModel in Model.Translations)
	    {
		    @Html.Partial("_GenericTranslationTableRow", translationViewModel)
        }
    </tbody>

</table>

<p style="margin-top: 10px;">
    <button id="submitButton" class="button" style="margin-left: 85px;">
        <img src="@Url.Content("~/Content/disk.png")" class="buttonIcon" />
        Submit
    </button>
    
    <button id="closeButton" class="button" style="margin-left: 40px;">
        <img src="@Url.Content("~/Content/cancel.png")" class="buttonIcon" />
        Close
    </button>
</p>

<div id="translationDialogDiv" style="display: none;"></div>