@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Stylesheets
{
    <link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css" />
}
@section ScriptsBottom
{
    <script src="@Url.Content("~/Scripts/Admin.js")" type="text/javascript"></script>
}
@section ContextMenu
{
    <ul class="contextMenu">
        <li><a href="@Url.Action("Index", "TaskDefinition")">@AdminResources.ContextMenuTasks</a></li>
        <li><a href="@Url.Action("Index", "NoiseProtectionDefinition")">@AdminResources.ContextMenuNoiseProtection</a></li>
        <li><a href="@Url.Action("Index", "HelicopterTask")">@AdminResources.ContextMenuHelicopterTasks</a></li>
        <li><a href="@Url.Action("Index", "HelicopterType")">@AdminResources.ContextMenuHelicopterTypes</a></li>
        <li><a href="@Url.Action("Index", "HelicopterWorkInterval")">@AdminResources.ContextMenuHelictoperWorkInterval</a></li>
        <li><a href="@Url.Action("Index", "HelicopterNoiseProtectionDefinition")">@AdminResources.ContextMenuHelicopterNoiseProtection</a></li>
        <li><a href="@Url.Action("Index", "Administrator")">@AdminResources.ContextMenuAdministratorUsers</a></li>
    </ul>
}

@RenderSection("AdminHidden", required: true)

<h2>@RenderSection("PageTitleText", required: true)</h2>

<div id="mainContent">
    <button id="addNew" class="button">
        <img src="@Url.Content("~/Content/add.png")" class="buttonIcon" />
        @AdminResources.ButtonAddNew
    </button>
    
    <br clear="all" />

    @RenderSection("ItemList", required: true)
</div>

<div id="dialogDiv"></div>
<div id="translationDialogDiv"></div>
<div id="deleteConfirmDialog"></div>