@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Stylesheets
{
    <link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css" />
}
@section ScriptsBottom
{
    <script src="@Url.Content("~/Scripts/Admin.js")" type="text/javascript"></script>
}
@section ContextMenu
{
    <ul class="contextMenu">
        <li><a href="@Url.Action("Index", "Task")">Tasks</a></li>
        <li><a href="@Url.Action("Index", "NoiseProtection")">Noise Protection</a></li>
        <li><a href="@Url.Action("Index", "HelicopterTask")">Helicopter Tasks</a></li>
        <li><a href="@Url.Action("Index", "HelicopterType")">Helicopter Types</a></li>
        <li><a href="@Url.Action("Index", "HelicopterWorkInterval")">Helicopter Work Interval</a></li>
        <li><a href="@Url.Action("Index", "HelicopterNoiseProtection")">Helicopter Noise Protection</a></li>
    </ul>
}

@RenderSection("AdminHidden", required: true)

<h2>@RenderSection("PageTitleText", required: true)</h2>

<div id="mainContent">
    <button id="addNew" class="button">
        <img src="@Url.Content("~/Content/add.png")" class="buttonIcon" />
        Add New
    </button>
    
    <br clear="all" />

    @RenderSection("ItemList", required: true)
</div>

<div id="dialogDiv"></div>
<div id="translationDialogDiv"></div>
<div id="deleteConfirmDialog"></div>