@using NoiseCalculator.UI.Web.Areas.Admin.Models.HelicopterTask
@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@using NoiseCalculator.UI.Web.Areas.Admin.ViewModels.HelicopterTask
@model IEnumerable<NoiseCalculator.UI.Web.Areas.Admin.ViewModels.HelicopterTask.HelicopterTaskListItemViewModel>

<table id="itemList">
    <thead>
        <tr>
            <td></td>
            <th>@AdminResources.HelicopterTaskColumnHelicopter</th>
            <th>@AdminResources.HelicopterTaskColumnNoiseProtectionDefinition</th>
            <th>@AdminResources.HelicopterTaskColumnWorkInterval</th>
            <th>@AdminResources.HelicopterTaskColumnPercentage</th> 
            <td></td>
        </tr>
    </thead>
    
    <tbody>
    @foreach (HelicopterTaskListItemViewModel helicopterTaskViewModel in Model)
    {
        @Html.Partial("_HelicopterTaskTableRow", helicopterTaskViewModel)
    }
    </tbody>
</table>