@model NoiseCalculator.UI.Web.Areas.Admin.Models.HelicopterTask.HelicopterTaskListItemViewModel
        <tr id="@Model.Id" class="definition tr" style="height: 30px;">
            <td style="padding-left:5px; padding-right: 10px;">
                <div class="editDefinition">
                    <img src="@Url.Content("~/Content/page_edit.png")" />
                    <span style="vertical-align: bottom;">Edit</span>
                </div>
            </td>
            
            <td style="padding-left:5px; padding-right: 5px;">@Model.Helicopter</td>
            <td style="padding-left:5px; padding-right: 5px;">@Model.NoiseProtectionDefinition</td>
            <td style="padding-left:5px; padding-right: 5px;">@Model.WorkInterval</td>
            <td style="padding-left:5px; padding-right: 5px;">@Model.Percentage</td> 
            
            <td style="padding-left:10px; padding-right: 5px;">
                <div class="removeDefinition">
                    <img src="@Url.Content("~/Content/cancel.png")" />
                    <span style="vertical-align: bottom;">Remove</span>
                </div>
            </td>
        </tr>
