@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@model NoiseCalculator.UI.Web.Areas.Admin.ViewModels.HelicopterTask.HelicopterTaskListItemViewModel
        <tr id="@Model.Id" class="definition tr editable" style="height: 30px;">
            <td class="editButton">@AdminResources.ColumnEdit</td>
            <td>@Model.Helicopter</td>
            <td>@Model.NoiseProtectionDefinition</td>
            <td>@Model.ButtonPressed</td>
            <td>@Model.FixedTime</td> 
            <td class="removeButton">@AdminResources.ColumnRemove</td>
        </tr>
