@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@using NoiseCalculator.UI.Web.Resources
@{
    ViewBag.Title = "Login Page";
    ViewBag.FormAction = "SignIn";
}
@{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@TaskResources.SingleSignOn</h1>
            </hgroup>
            <p>@TaskResources.SingleSignOnDesc</p>
        </div>
        <br/>
        <br/>
    </section>
}

@using (Html.BeginForm((string)ViewBag.FormAction, "Login", new { ReturnUrl = "https://noisecalculator.azurewebsites.net/" }))
{
    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")
    <input type="submit" value="@TaskResources.SingleSignOnText" />
}

@section AdminLink
{
    <a id="adminLink" href="@Url.Action("Index", "Task", new {area = ""})">@AdminResources.NoiseCalculatorLink</a> -
}