@using NoiseCalculator.UI.Web.Resources
@using NoiseCalculator.UI.Web.ViewModels
@model NoiseCalculator.UI.Web.ViewModels.RegularViewModel

<input id="taskId" type="hidden" value="@Model.TaskId" />
<input id="roleType" type="hidden" value="@Model.RoleType" />
<input class="selectedTaskId" type="hidden" value="@Model.SelectedTaskId" />

<p>
    <label for="Title" class="label-130px">@TaskResources.TaskTitleLabel</label>
    <span id="Title">: @Model.Title</span>
</p>

<p>
    <label for="Role" class="label-130px">@TaskResources.TaskRoleLabel</label>
    <span id="Role">: @Model.Role</span>
</p>

<p style="margin-bottom: 2px; margin-top: 15px;" id="regularNoiseAndButtonPressed">
    <label id="regularNoiseMeasuredLabel" class="label-130px">@TaskResources.TaskFormRegularNoiseMeasuredLabel<img src="@Url.Content("~/Content/help.png")" title="@TaskResources.TaskFormRegularNoiseMeasuredInfo"></img></label>
    <span id="regularNoiseMeasuredLabelColon">:</span>
    <span class="span80">
        <input id="noiseMeasuredNo" type="radio" name="group1" value="false" @Model.RadioNoiseMeassuredNoCheckedAttr />
        <label for="noiseMeasuredNo">@TaskResources.No</label>
    </span>
            
    <span class="span80">
        <input id="noiseMeasuredYes" type="radio" name="group1" @Model.RadioNoiseMeassuredYesCheckedAttr />
        <label id="noiseMeasuredYesLabel" for="noiseMeasuredYes">@TaskResources.Yes</label>
    </span>

    <span style="width: 30px; display: inline-block;"></span>

    <span style="width: 190px; display: inline-block;">
        <label id ="buttonPressedLabel">@TaskResources.TaskFormButtonPressedLabel<img src="@Url.Content("~/Content/help.png")" title="@TaskResources.TaskFormButtonPressedInfo"></img></label>
    </span>

</p>

<p id="regularNoiseAndButtonPressedValues">
    <label class="label-130px"></label>
    <span class="span80" id="noiseLevelGuidline" style="margin-left: 8px;"><span id="noiseLevelGuidlineValue">@Model.NoiseLevelGuideline</span> dBA</span>
    <span class="span80" id="noiseLevelMeassuredSpan">
        <input id="noiseLevelMeassured" type="text" style="width: 30px; height: 13px;" value="@Model.NoiseLevelMeassured" />
        dBA
    </span>

    <span style="width: 30px; display: inline-block;"></span>

    <span style="width: 190px; display: inline-block;">
        <span style="float: right;">
            <input id="buttonPressed" type="text" style="width: 30px; height: 13px;" value="@Model.ButtonPressed" /><span id="percentButtonPressed">%</span>
        </span>
    </span>
</p>

<br />

<p>
    <label id="backgroundNoiseLabel" for="BackgroundNoise" class="label-130px">@TaskResources.TaskFormBackgroundNoiseLabel<img src="@Url.Content("~/Content/help.png")" title="@TaskResources.TaskFormBackgroundNoiseInfo"></img></label>
    <input id="backgroundNoise" type="text" style="width: 35px; height: 13px;" value="@Model.BackgroundNoise" />
    <span id="backgroundNoiseDba">dBA</span>
    <span style="width: 40px;"></span>
    <label id="backgroundNoiseReasonLabel" style="width: 200px;">@TaskResources.TaskFormBackgroundNoiseReasonLabel</label>
</p>

<p>
    <label for="NoiseProtection" class="label-130px">@TaskResources.SelectedTaskNoiseProtectionLabel</label>
    @*<span id="NoiseProtection">: @Model.NoiseProtection</span>*@
    <select id="noiseProtectionId" name="noiseProtectionId" style="width: 180px;">: 
        @foreach (SelectListItem item in Model.NoiseProtection)
        {
            <option value="@item.Value" @((item.Selected) ? "selected" : string.Empty)>@item.Text</option>
        }
    </select>
</p>

<p style="margin-top: 10px;">
    <label class="label-130px">@TaskResources.TaskFormWorkTimeAsLabel</label>
    :
    <span class="span120">
        <input id="workTimeRadio" type="radio" name="group2" value="worktime" @Model.RadioTimeCheckedAttr />
        <label for="workTimeRadio">@TaskResources.TaskFormRegularWorkTimeLabel</label>
    </span>
            
    <span>
        <input id="percentRadio" type="radio" name="group2" value="percent" @Model.RadioPercentageCheckedAttr />
        <label for="percentRadio">@TaskResources.TaskFormRegularPercentageLabel</label>
    </span>
</p>

<p>
    <label class="label-130px"><span @Html.Raw(Model.RotationDiplayStyle)>@TaskResources.TaskFormRegularOperatorLabel</span></label>
    <span @Html.Raw(Model.RotationDiplayStyle)>:</span>

    <span class="span120" id="workTimeSpan" style="margin-left: 8px;" >
        <input id="hours" type="text" style="width: 20px; height: 13px;" value="@Model.Hours" />
        @TaskResources.HoursUnit
        <input id="minutes" type="text" style="width: 26px; height: 13px;" value="@Model.Minutes" />
        @TaskResources.MinutesUnit
    </span>
            
    <span class="span120" id="percentageSpan">
        <input id="percentage" type="text" style="width: 26px; height: 13px;" value="@Model.Percentage" />
        %
    </span>
</p>

<p @Html.Raw(Model.RotationDiplayStyle) >
    <label class="label-130px">Assistant</label>
    <span @Html.Raw(Model.RotationDiplayStyle)>:</span>

    <span class="span120" style="margin-left: 8px;" >
        <span id="hoursAssistant" style="margin-left: 3px; margin-right: 3px; width: 20px; height: 13px; display: inline-block;"></span>
        @TaskResources.HoursUnit
        <span id="minutesAssistant" style="margin-left: 3px; margin-right: 3px; width: 26px; height: 13px; display: inline-block;"></span>
        @TaskResources.MinutesUnit
    </span>
            
    <span class="span120">
        <span id="percentageAssistant" style="margin-left: 3px; margin-right: 3px; width: 26px; height: 13px; display: inline-block;"></span>
        %
    </span>
</p>