@using NoiseCalculator.UI.Web.Resources
@model NoiseCalculator.UI.Web.ViewModels.RegularViewModel

<input id="taskId" type="hidden" value="@Model.TaskId" />
<input id="roleType" type="hidden" value="@Model.RoleType" />
<input class="selectedTaskId" type="hidden" value="@Model.SelectedTaskId" />

<p>
    <label for="Title" class="label-130px">@TaskResources.TaskTitleLabel</label>
    <span id="Title">: @Model.Title</span>
</p>

<p>
    <label for="Role" class="label-130px">@TaskResources.TaskRoleLabel</label>
    <span id="Role">: @Model.Role</span>
</p>

<p style="margin-bottom: 2px; margin-top: 15px;">
    <label class="label-130px">@TaskResources.TaskFormRegularNoiseMeasuredLabel</label>
    :
    <span class="span80">
        <input id="noiseMeasuredNo" type="radio" name="group1" value="false" @Model.RadioNoiseMeassuredNoCheckedAttr />
        <label for="noiseMeasuredNo">@TaskResources.No</label>
    </span>
            
    <span class="span80">
        <input id="noiseMeasuredYes" type="radio" name="group1" @Model.RadioNoiseMeassuredYesCheckedAttr />
        <label id="noiseMeasuredYesLabel" for="noiseMeasuredYes">@TaskResources.Yes</label>
    </span>
</p>

<p>
    <label class="label-130px"></label>
    <span class="span80" id="noiseLevelGuidline" style="margin-left: 8px;"><span id="noiseLevelGuidlineValue">@Model.NoiseLevelGuideline</span> dBA</span>
    <span class="span80" id="noiseLevelMeassuredSpan">
        <input id="noiseLevelMeassured" type="text" style="width: 30px; height: 13px;" value="@Model.NoiseLevelMeassured" />
        dBA
    </span>
</p>

<p style="margin-top: 10px;">
    <label class="label-130px">@TaskResources.TaskFormWorkTimeAsLabel</label>
    :
    <span class="span120">
        <input id="workTimeRadio" type="radio" name="group2" value="worktime" @Model.RadioTimeCheckedAttr />
        <label for="workTimeRadio">@TaskResources.TaskFormRegularWorkTimeLabel</label>
    </span>
            
    <span class="span120">
        <input id="percentRadio" type="radio" name="group2" value="percent" @Model.RadioPercentageCheckedAttr />
        <label for="percentRadio">@TaskResources.TaskFormRegularPercentageLabel</label>
    </span>
</p>

<p>
    <label class="label-130px"><span @Html.Raw(Model.RotationDiplayStyle)>@TaskResources.TaskFormRegularOperatorLabel</span></label>
    <span @Html.Raw(Model.RotationDiplayStyle)>:</span>

    <span class="span120" id="workTimeSpan" style="margin-left: 8px;" >
        <input id="hours" type="text" style="width: 20px; height: 13px;" value="@Model.Hours" />
        @TaskResources.HoursUnit
        <input id="minutes" type="text" style="width: 26px; height: 13px;" value="@Model.Minutes" />
        @TaskResources.MinutesUnit
    </span>
            
    <span class="span120" id="percentageSpan">
        <input id="percentage" type="text" style="width: 26px; height: 13px;" value="@Model.Percentage" />
        %
    </span>
</p>

<p @Html.Raw(Model.RotationDiplayStyle) >
    <label class="label-130px">Assistant</label>
    <span @Html.Raw(Model.RotationDiplayStyle)>:</span>

    <span class="span120" style="margin-left: 8px;" >
        <span id="hoursAssistant" style="margin-left: 3px; margin-right: 3px; width: 20px; height: 13px; display: inline-block;"></span>
        @TaskResources.HoursUnit
        <span id="minutesAssistant" style="margin-left: 3px; margin-right: 3px; width: 26px; height: 13px; display: inline-block;"></span>
        @TaskResources.MinutesUnit
    </span>
            
    <span class="span120">
        <span id="percentageAssistant" style="margin-left: 3px; margin-right: 3px; width: 26px; height: 13px; display: inline-block;"></span>
        %
    </span>
</p>