@model NoiseCalculator.UI.Web.ViewModels.RegularViewModel

<input type="hidden" value="@Model.TaskId" id="taskId" />
<input type="hidden" value="@Model.RoleType" id="roleType" />
<input type="hidden" value="@Model.SelectedTaskId" class="selectedTaskId" />

<p>
    <label for="DialogTitle" class="label-130px">Task</label>
    <span id="Title">: @Model.Title</span>
</p>

<p>
    <label for="Role" class="label-130px">Role</label>
    <span id="Role">: @Model.Role</span>
</p>

<p style="margin-bottom: 2px; margin-top: 15px;">
    <label class="label-130px">Noise Measured</label>
    :
    <span class="span80">
        <input type="radio" name="group1" value="false" id="noiseMeasuredNo" @Model.RadioNoiseMeassuredNoCheckedAttr />
        <label for="noiseMeasuredNo">No</label>
    </span>
            
    <span class="span80">
        <input type="radio" name="group1" id="noiseMeasuredYes" @Model.RadioNoiseMeassuredYesCheckedAttr />
        <label for="noiseMeasuredYes">Yes</label>
    </span>
</p>

<p>
    <label class="label-130px"></label>
    <span class="span80" id="noiseLevelGuidline" style="margin-left: 8px;"><span id="noiseLevelGuidlineValue">@Model.NoiseLevelGuideline</span> dBA</span>
    <span class="span80" id="noiseLevelMeassuredSpan">
        <input type="text" style="width: 30px; height: 13px;" value="@Model.NoiseLevelMeassured" id="noiseLevelMeassured" />
        dBA
    </span>
</p>

<p style="margin-top: 10px;">
    <label class="label-130px">Work specified as</label>
    :
    <span class="span120">
        <input type="radio" name="group2" value="worktime" id="workTimeRadio" @Model.RadioTimeCheckedAttr />
        <label for="workTimeRadio">Time</label>
    </span>
            
    <span class="span120">
        <input type="radio" name="group2" value="percent" id="percentRadio" @Model.RadioPercentageCheckedAttr />
        <label for="percentRadio">Percent</label>
    </span>
</p>

<p>
    <label class="label-130px"><span @Html.Raw(Model.RotationDiplayStyle)>Operator</span></label>
    <span @Html.Raw(Model.RotationDiplayStyle)>:</span>

    <span class="span120" id="workTimeSpan" style="margin-left: 8px;" >
        <input type="text" style="width: 20px; height: 13px;" value="@Model.Hours" id="hours" />
        h
        <input type="text" style="width: 26px; height: 13px;" value="@Model.Minutes" id="minutes" />
        min
    </span>
            
    <span class="span120" id="percentageSpan">
        <input type="text" style="width: 26px; height: 13px;" value="@Model.Percentage" id="percentage" />
        %
    </span>
</p>

<p @Html.Raw(Model.RotationDiplayStyle) >
    <label class="label-130px">Assistant</label>
    <span @Html.Raw(Model.RotationDiplayStyle)>:</span>

    <span class="span120" style="margin-left: 8px;" >
        <span id="hoursAssistant" style="margin-left: 3px; margin-right: 3px; width: 20px; height: 13px; display: inline-block;"></span>
        h
        <span id="minutesAssistant" style="margin-left: 3px; margin-right: 3px; width: 26px; height: 13px; display: inline-block;"></span>
        min
    </span>
            
    <span class="span120">
        <span id="percentageAssistant" style="margin-left: 3px; margin-right: 3px; width: 26px; height: 13px; display: inline-block;"></span>
        %
    </span>
</p>