@using NoiseCalculator.UI.Web.Resources
<ul>
    <li>
        @*<a href="http://sp-st04.statoil.com/sites/82c0547a-e463-4c3b-8162-40b13cb71ace/Stoykalkulator/Document%20library/Forms/DispForm.aspx?ID=32&RootFolder=%2Fsites%2F82c0547a%2De463%2D4c3b%2D8162%2D40b13cb71ace%2FStoykalkulator%2FDocument%20library">Bruksanvisning Støykalkulator</a>*@
        <a href="@Url.Content("~/Content/Statoil_logo.gif")">@TaskResources.HelpUserManual</a>
    </li>
    
    <li>
        @*<a href="http://sp-st04.statoil.com/sites/82c0547a-e463-4c3b-8162-40b13cb71ace/Stoykalkulator/Document%20library/Forms/DispForm.aspx?ID=35&RootFolder=%2Fsites%2F82c0547a%2De463%2D4c3b%2D8162%2D40b13cb71ace%2FStoykalkulator%2FDocument%20library">Bruksanvisning «Knottologien»</a>*@
        <a href="@Url.Content("~/Content/Statoil_logo.gif")">@TaskResources.HelpUserManualButtonology</a>
    </li>

    <li>
        @*<a href="http://sp-st04.statoil.com/sites/82c0547a-e463-4c3b-8162-40b13cb71ace/Stoykalkulator/Document%20library/Forms/DispForm.aspx?ID=33&RootFolder=%2Fsites%2F82c0547a%2De463%2D4c3b%2D8162%2D40b13cb71ace%2FStoykalkulator%2FDocument%20library">Informasjon om støyande arbeidsoppgåver / verifiserande måling</a>*@
        <a href="@Url.Content("~/Content/Statoil_logo.gif")">@TaskResources.HelpNoisyTasksAndFieldMeasurement</a>
    </li>
    
    <li>
        @*<a href="http://sp-st04.statoil.com/sites/82c0547a-e463-4c3b-8162-40b13cb71ace/Stoykalkulator/Document%20library/Forms/DispForm.aspx?ID=34&RootFolder=%2Fsites%2F82c0547a%2De463%2D4c3b%2D8162%2D40b13cb71ace%2FStoykalkulator%2FDocument%20library">Informasjon om manglande arbeidsoppgåver</a>*@
        <a href="@Url.Content("~/Content/Statoil_logo.gif")">@TaskResources.HelpMissingTasks</a>
    </li>
    
    <li>
        @*<a href="http://sp-st04.statoil.com/sites/82c0547a-e463-4c3b-8162-40b13cb71ace/Stoykalkulator/Document%20library/Forms/DispForm.aspx?ID=36&RootFolder=%2Fsites%2F82c0547a%2De463%2D4c3b%2D8162%2D40b13cb71ace%2FStoykalkulator%2FDocument%20library">Informasjon om GL0169</a>*@
        <a href="@Url.Content("~/Content/Statoil_logo.gif")">@TaskResources.HelpGL0169</a>
    </li>
</ul>