@using NoiseCalculator.UI.Web.Models
@using NoiseCalculator.UI.Web.Resources
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Stylesheets", required: false)
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.22.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="header">
        <div style="position: relative;">
            <img id="headerLogo" src="@Url.Content("~/Content/statoil_vertical_neg_80x40.png")" />
            <span id="applicationTitle">
                @TaskResources.ApplicationTitle 
                <span id="helpButton"> <img src="@Url.Content("~/Content/help.png")" style="display: inline-block; height: 18px; width: 18px; vertical-align: middle; " />  @TaskResources.IndexHelpTitle</span> 
            </span>
            
            <div style="color: White; text-align: right; position: absolute; right: 10px; top: 0px;" >
                <span style="display: block;" >@TaskResources.LayoutUserLabel: <strong>@UserHelper.CreateUsernameWithoutDomain(User.Identity.Name)</strong></span>
                
                <img id="langNo" src="@Url.Content("~/Content/no.png")" width="22" height="16" alt="Norwegian" />
                <img id="langEn" src="@Url.Content("~/Content/gb.png")" width="22" height="16" alt="English" />
                <input id="currentLangTwoCharCode" type="hidden" value="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName" />
            </div>
            <br clear="all"/>
        </div>
        
        @RenderSection("ContextMenu", required: false)
    </div>
    
    <div id="main">
        @RenderBody()
    </div>

    <div id="footer">
        <ul>
            @RenderSection("StaticFooters", required: false)
        </ul>
        <ul id="dynamicFootnotes">
            @RenderSection("DynamicFooters", required : false)
        </ul>
    </div>

    <div id="helpDialog" title="@TaskResources.IndexHelpTitle">@Html.Partial("_Help")</div>
    
    @RenderSection("ScriptsBottom", required: false)
</body>
</html>
