<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="header">
        <img src="@Url.Content("~/Content/Statoil_logo.gif")" style="float: left;" />
        <span id="applicationTitle">Noise Calculator</span>
            
        <div style="color: White; text-align: right; position: relative;" >
            Welcome <strong>@User.Identity.Name</strong>!
            <br />
            <img src="@Url.Content("~/Content/no.png")" width="22px;" height="16px" />
            <img src="@Url.Content("~/Content/gb.png")" width="22px;" height="16px" />
        </div>
        <br clear="all"/>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
    </div>
</body>
</html>
