@using NoiseCalculator.UI.Web.Resources
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="header">
        <img src="@Url.Content("~/Content/Statoil_logo.gif")" style="float: left;" />
        <span id="applicationTitle">@TaskResources.ApplicationTitle</span>
            
        <div style="color: White; text-align: right; position: relative;" >
            @TaskResources.LayoutUserLabel: <strong>@User.Identity.Name</strong>!
            <br />
            <img id="langNo" src="@Url.Content("~/Content/no.png")" width="22" height="16" />
            <img id="langEn" src="@Url.Content("~/Content/gb.png")" width="22" height="16" />
        </div>
        <br clear="all"/>
    </div>
    <div id="main">
        @RenderBody()
    </div>

    <div id="footer">
        <ul>
            <li>@TaskResources.FooterGL0169</li>
            <li>@TaskResources.FooterNoiseProtectionDefinition</li>
            <li>@TaskResources.Footer80dBA</li>
        </ul>
    </div>
    
</body>
</html>
