@using NoiseCalculator.UI.Web.Models
@using NoiseCalculator.UI.Web.Resources
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Stylesheets", required: false)
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="header">
        <img src="@Url.Content("~/Content/Statoil_logo.gif")" style="float: left;" />
        <span id="applicationTitle">@TaskResources.ApplicationTitle</span>
            
        <div style="color: White; text-align: right; position: relative; margin-right: 10px;" >
            @TaskResources.LayoutUserLabel: <strong>@UserHelper.GetUsernameWithoutDomain(User.Identity.Name)</strong>
            <br />
            <img id="langNo" src="@Url.Content("~/Content/no.png")" width="22" height="16" alt="Norwegian" />
            <img id="langEn" src="@Url.Content("~/Content/gb.png")" width="22" height="16" alt="English" />
            <input id="currentLangTwoCharCode" type="hidden" value="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName" />
        </div>
        <br clear="all"/>
        @RenderSection("ContextMenu", required: false)
    </div>
    <div id="main">
        @RenderBody()
    </div>

    <div id="footer">
        <ul>
            @RenderSection("StaticFooters", required: false)
        </ul>
        <ul id="dynamicFootnotes">
            @RenderSection("DynamicFooters", required : false)
        </ul>

    </div>
    
    @RenderSection("ScriptsBottom", required: false)
</body>
</html>
