@*@model NoiseCalculator.UI.Web.ViewModels.SelectedTaskViewModel*@
@model NoiseCalculator.UI.Web.ViewModels.SelectedTaskViewModel

<div id="@Model.Id" class="task">
    <div class="emulatedEditButton">
        <img src="../../Content/page_edit.png" class="taskIcon" />
        <span style="color: White; font-weight: bold;">Edit</span>
    </div>

    <div class="taskGrouping">
        <p>
            <label for="Task" class="label-small40">Task</label>
            <span id="Task" style="font-weight: bold;">: @Model.Title</span>
        </p>
        
        <p>
            <label for="Role" class="label-small40">Role</label>
            <span id="Role" style="font-weight: bold;">: @Model.Role</span>
        </p>
    </div>

    <div class="taskGrouping">
        <p>
            <label for="HelicopterNoiseProtection" class="label-normal120">Noise Protection</label>
            <span id="NoiseProtection" style="font-weight: bold;">: @Model.NoiseProtection</span>
        </p>
        
        <p>
            <label for="NoiseLevel" class="label-normal120">Noise Level</label>
            <span id="NoiseLevel" style="font-weight: bold;">: @Model.NoiseLevel dBA</span>
            @*UPDATE WITH VIEW MODEL WITH ONLY ONE NOISE LEVEL, the one in use*@
        </p>
    </div>

    <div class="taskGrouping">
        <p>
            <label for="WorkTime" class="label-normal120">Work Time</label>
            <span id="WorkTime" style="font-weight: bold;">: @Model.Hours h @Model.Minutes min</span>
        </p>
        
        <p>
            <label for="PercentDailyDosage" class="label-normal120">% Daily Dosage</label>
            <span id="PercentDailyDosage" style="font-weight: bold;">: @Model.Percentage%</span>
        </p>
    </div>
    
    <div class="emulatedRemoveButton" id = "@Model.Title">
        <img src="../../Content/cancel.png" class="taskIcon" />
        <span style="color: White; font-weight: bold;">Remove</span>
    </div>
    <br clear="all" />
</div>