@using NoiseCalculator.UI.Web.Resources
@model NoiseCalculator.UI.Web.ViewModels.SelectedTaskViewModel

<div id="@Model.Id" class="task">
    <div class="taskListButton taskListEdit">
        <img src="@Url.Content("~/Content/page_edit.png")" class="taskIcon" />
        @TaskResources.SelectedTaskEditLabel
    </div>

    <div class="taskGrouping" style="width: 460px; max-width: 460px;">
        <p>
            <label for="Task" class="label-small60">@TaskResources.TaskTitleLabel</label>
            <span id="Task" style="font-weight: bold;">: @Model.Title</span>
        </p>
        
        <p>
            <label for="Role" class="label-small60">@TaskResources.TaskRoleLabel</label>
            <span id="Role" style="font-weight: bold;">: @Model.Role</span>
        </p>
    </div>

    <div class="taskGrouping" style="width: 320px; max-width: 320px;">
        <p>
            <label for="NoiseProtection" class="label-normal120">@TaskResources.SelectedTaskNoiseProtectionLabel</label>
            <span id="NoiseProtection" style="font-weight: bold;">: @Model.NoiseProtection</span>
        </p>
        
        <p>
            <label for="NoiseLevel" class="label-normal120">@TaskResources.SelectedTaskNoiseLevelLabel</label>
            <span id="NoiseLevel" style="font-weight: bold;">: @Model.NoiseLevel</span>
        </p>
    </div>

    <div class="taskGrouping">
        <p>
            <label for="WorkTime" class="label-normal120">@TaskResources.SelectedTaskWorkTimeLabel</label>
            <span id="WorkTime" style="font-weight: bold;">: @Model.Hours @TaskResources.HoursUnit @Model.Minutes @TaskResources.MinutesUnit</span>
        </p>
        
        <p>
            <label for="PercentDailyDosage" class="label-normal120">@TaskResources.SelectedTaskPercentageDailyDosageLabel</label>
            <span id="PercentDailyDosage" style="font-weight: bold;">: @Model.Percentage%</span>
        </p>
    </div>
    
    <div class="taskListButton taskListRemove">
        <img src="@Url.Content("~/Content/cancel.png")" class="taskIcon" />
        @TaskResources.SelectedTaskRemoveLabel
    </div>
    <br clear="all" />
</div>