@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@model NoiseCalculator.UI.Web.Areas.Admin.Models.RotationTask.RotationTaskListItemViewModel
<tr id="trans@(Model.Id)" class="translation tr editable" style="height: 30px;">
    <td class="editButton">@AdminResources.ColumnEdit</td>
    <td>@Model.Language</td>
    <td>@Model.Title</td>
    <td>@Model.OperatorTask (@Model.OperatorRole)</td>
    <td>@Model.AssistantTask (@Model.AssistantRole)</td>
    <td class="removeButton">@AdminResources.ColumnRemove</td>
</tr>
