@using NoiseCalculator.UI.Web.ViewModels
@model NoiseCalculator.UI.Web.Areas.Admin.Models.Task.TaskViewModel

<input type="hidden" name="id" value="@Model.Id" />
<input type="hidden" name="definitionId" value="@Model.DefinitionId" />

<p>
    <label for="selectedCultureName" class="label-130px">Language</label>
    <select id="selectedCultureName" name="selectedCultureName">
        @foreach (SelectOptionViewModel selectOption in Model.Languages)
        {
            <option value="@selectOption.Value" @selectOption.SelectedAttribute>@selectOption.Text</option>
        }
    </select>
</p>

<p>
    <label for="Title" class="label-130px">Title</label>
    <input id="Title" type="text" name="Title" style="width: 280px;" value="@Model.Title" />
</p>

<p>
    <label for="roleId" class="label-130px">Role</label>
    <select id="roleId" name="roleId">
        @foreach (SelectOptionViewModel selectOption in Model.Roles)
        {
            <option value="@selectOption.Value" @selectOption.SelectedAttribute>@selectOption.Text</option>
        }
    </select>
</p>

<p>
    <label for="noiseProtectionId" class="label-130px">Noise Protection</label>
    <select id="noiseProtectionId" name="noiseProtectionId">
        @foreach (SelectOptionViewModel selectOption in Model.NoiseProtections)
        {
            <option value="@selectOption.Value" @selectOption.SelectedAttribute>@selectOption.Text</option>
        }
    </select>
</p>

<p>
    <label for="NoiseLevelGuideline" class="label-130px">Noise Level</label>
    <input id="NoiseLevelGuideline" type="text" name="NoiseLevelGuideline" style="width: 280px;" value="@Model.NoiseLevelGuideline" />
</p>

<p>
    <label for="AllowedExposureMinutes" class="label-130px">Allowed Exposure</label>
    <input id="AllowedExposureMinutes" type="text" name="AllowedExposureMinutes" style="width: 280px;" value="@Model.AllowedExposureMinutes" />
</p>


    
<p style="margin-top: 10px;">
    <button id="submitTranslationButton" class="button" style="margin-left: 135px;">
        <img src="@Url.Content("~/Content/disk.png")" class="buttonIcon" />
        Submit
    </button>
                
    <button id="closeTranslationButton" class="button" style="margin-left: 40px;">
        <img src="@Url.Content("~/Content/cancel.png")" class="buttonIcon" />
        Close
    </button>
</p>