@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@model NoiseCalculator.UI.Web.Areas.Admin.Models.TaskDefinition.TaskDefinitionListItemViewModel
        <tr id="@Model.Id" class="definition editable" style="border: 1px solid grey;">
            <td class="editButton">@AdminResources.ColumnEdit</td>
            <td>@Model.SystemName</td>
            <td class="role">@Model.RoleType</td>
            <td class="removeButton">@AdminResources.ColumnRemove</td>
        </tr>
