@using NoiseCalculator.UI.Web.Resources
@model NoiseCalculator.UI.Web.ViewModels.HelideckViewModel

<form method="POST" action="@Url.Action("EditTaskHelideck", new { Id = Model.SelectedTaskId })" id="editForm">
    @Html.Partial("_TaskFormHelideck", Model)
    
    <p id="editFormButtons">
        <div id="submitButton" class="button">
            <img src="@Url.Content("~/Content/disk.png")" class="buttonIcon" />
            @TaskResources.TaskFormButtonSubmitEdit
        </div>
        
        <div id="taskFormCloseButton" class="button">
            <img src="@Url.Content("~/Content/cancel.png")" class="buttonIcon" />
            @TaskResources.TaskFormButtonClose
        </div>

        <br clear="all" />
    </p>
</form>