@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@model NoiseCalculator.UI.Web.Areas.Admin.ViewModels.GenericTask.TaskListItemViewModel
<tr id="trans@(Model.Id)" class="translation">
    <td class="editButton">@AdminResources.ColumnEdit</td>
    <td>@Model.Language</td>    
    <td>@Model.Title</td>
    <td>@Model.Role</td>
    <td>@Model.NoiseProtection</td>
    <td>@Model.NoiseLevelGuideline dBA</td>
    <td>@Model.ButtonPressed %</td>
    <td class="removeButton">@AdminResources.ColumnRemove</td>
</tr>