@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@using NoiseCalculator.UI.Web.Resources
@using NoiseCalculator.UI.Web.ViewModels
@model NoiseCalculator.UI.Web.Areas.Admin.ViewModels.GenericTask.TaskViewModel

<input type="hidden" name="id" value="@Model.Id" />
<input type="hidden" name="definitionId" value="@Model.DefinitionId" />

<p>
    <label for="selectedCultureName" class="label-170px">@AdminResources.GenericTaskLanguage</label>
    <select id="selectedCultureName" name="selectedCultureName" style="width: 180px;">
        @foreach (SelectOptionViewModel selectOption in Model.Languages)
        {
            <option value="@selectOption.Value" @selectOption.SelectedAttribute>@selectOption.Text</option>
        }
    </select>
</p>

<p>
    <label for="Title" class="label-170px">@AdminResources.GenericTaskTitle</label>
    <input id="Title" type="text" name="Title" style="width: 280px;" value="@Model.Title" />
</p>

<p>
    <label for="roleId" class="label-170px">@AdminResources.GenericTaskRole</label>
    <select id="roleId" name="roleId" style="width: 180px;">
        @foreach (SelectOptionViewModel selectOption in Model.Roles)
        {
            <option value="@selectOption.Value" @selectOption.SelectedAttribute>@selectOption.Text</option>
        }
    </select>
</p>

<p>
    <label for="noiseProtectionId" class="label-170px">@AdminResources.GenericTaskNoiseProtection</label>
    <select id="noiseProtectionId" name="noiseProtectionId" style="width: 180px;">
        @foreach (SelectOptionViewModel selectOption in Model.NoiseProtections)
        {
            <option value="@selectOption.Value" @selectOption.SelectedAttribute>@selectOption.Text</option>
        }
    </select>
</p>

<p>
    <label for="NoiseLevelGuideline" class="label-170px">@AdminResources.GenericTaskNoiseLevel</label>
    <input id="NoiseLevelGuideline" type="text" name="NoiseLevelGuideline" style="width: 40px;" value="@Model.NoiseLevelGuideline" />
    <span>@AdminResources.GenericTaskDecibelLabel</span>
</p>

@*<p>
    <label for="AllowedExposureMinutes" class="label-170px">@AdminResources.GenericTaskAllowedExposure</label>
    <input id="AllowedExposureMinutes" type="text" name="AllowedExposureMinutes" style="width: 40px;" value="@Model.AllowedExposureMinutes" />
    <span>@AdminResources.GenericTaskMinutesLabel</span>
</p>*@
<p>
    <label for="AllowedExposureMinutes" class="label-170px">@AdminResources.GenericTaskAllowedExposure</label>
    <input id="hours" name="hours" type="text" style="width: 20px; height: 13px;" value="@Model.Hours" />
    @TaskResources.HoursUnit
    <input id="minutes" name="minutes" type="text" style="width: 26px; height: 13px;" value="@Model.Minutes" />
    @TaskResources.MinutesUnit
</p>

<p>
    <label for="ButtonPressed" class="label-170px">@AdminResources.GenericTaskButtonPressed</label>
    <input id="ButtonPressed" type="text" name="ButtonPressed" style="width: 40px;" value="@Model.ButtonPressed" />
    <span>@AdminResources.GenericTaskPercentageLabel</span>
</p>

<p>
    <label for="BackgroundNoise" class="label-170px">@AdminResources.GenericTaskBackgroundNoise</label>
    <input id="BackgroundNoise" type="text" name="BackgroundNoise" style="width: 40px;" value="@Model.BackgroundNoise" />
    <span>@AdminResources.GenericTaskDecibelLabel</span>
</p>

    
<p style="margin-top: 10px;">
    <button id="submitTranslationButton" class="button" style="margin-left: 175px;">
        <img src="@Url.Content("~/Content/disk.png")" class="buttonIcon" />
        @AdminResources.ButtonSubmit
    </button>
                
    <button id="closeTranslationButton" class="button" style="margin-left: 40px;">
        <img src="@Url.Content("~/Content/cancel.png")" class="buttonIcon" />
        @AdminResources.ButtonClose
    </button>
</p>