@using NoiseCalculator.UI.Web.Resources
@using NoiseCalculator.UI.Web.ViewModels
@using NoiseCalculator.Domain.Entities
@model TaskSelectViewModel

<input type="hidden" id="hiddenTaskDialogTitle" value="@TaskResources.TaskDialogAddTitle" />

<span>@TaskResources.TaskDialogCategories</span><br />
<select id="taskDefSelect" size="1">
        @foreach (SelectListItem item in Model.TaskDefinitions)
              {
                  <option value="@item.Value" @(item.Selected ? "SELECTED" : string.Empty)>@item.Text</option>
              }
</select>

<br /><br /><span>@TaskResources.TaskDialogTasks</span><br />
<select id="taskSelect" size="10">
    @foreach (SelectListItem item in Model.Tasks)
    {
        <option value="@item.Value" @(item.Selected ? "SELECTED" : string.Empty)>@item.Text</option>
    }
    @*@foreach (SelectListItem task in Model.Tasks)
    {
        <option value="@task.Id-@task.Role.RoleType-@task.TaskDefinition.SystemName">@task.Title-@task.TaskDefinition.SystemName (@task.Role.RoleType)</option>
    }*@
</select>


<div id="useTask" class="button">
    <img src="@Url.Content("~/Content/arrow_down.png")" class="buttonIcon" />
    @TaskResources.TaskDialogButtonUseTask
    <img src="@Url.Content("~/Content/help.png")" title="@TaskResources.TaskDialogInfoUseTask"></img>
</div>
<div id="infoUseTask">
</div>

<br clear="all" />

<div id="taskForm"></div>
