@model NoiseCalculator.UI.Web.ViewModels.RegularViewModel

<form method="POST" action="@Url.Action("AddTaskRegular")" id="editForm">
    <input type="hidden" value="@Model.TaskId" id="taskId" />
    
    <p>
        <label for="Title" class="label-130px">Task</label>
        <span id="Title">: @Model.Title</span>
    </p>
        
    <p>
        <label for="Role" class="label-130px">Role</label>
        <span id="Role">: @Model.Role</span>
    </p>
        
    <p style="margin-bottom: 2px; margin-top: 15px;">
        <label class="label-130px">Noise Measured</label>
        :
        <span class="span80">
            <input type="radio" name="group1" value="false" checked="@(!Model.IsNoiseMeassured)" id="noiseMeasuredNo" />
            <label for="noiseMeasuredNo">No</label>
        </span>
            
        <span class="span80">
            <input type="radio" name="group1" value="@Model.IsNoiseMeassured" id="noiseMeasuredYes" />
            <label for="noiseMeasuredYes">Yes</label>
        </span>
    </p>
        
    <p>
        <label class="label-130px"></label>
        <span class="span80" style="margin-left: 8px;">@Model.NoiseLevelGuideline</span>
        <span  class="span80">
            <input type="text" style="width: 20px; height: 13px;" value="@Model.NoiseLevelMeassured" id="noiseLevelMeassured" />
            dBA
        </span>
    </p>
        
    <p style="margin-top: 10px;">
        <label class="label-130px">Work specified as</label>
        :
        <span class="span120">
            <input type="radio" name="group2" value="worktime" checked="@Model.IsWorkSpecifiedAsTime" id="workTimeRadio" />
            <label for="workTimeRadio">Time</label>
        </span>
            
        <span class="span120">
            <input type="radio" name="group2" value="percent" checked="@Model.IsWorkSpecifiedAsPercentage" id="percentRadio" />
            <label for="percentRadio">Percent</label>
        </span>
    </p>

    <p>
        <label class="label-130px"></label>
        <span class="span120" style="margin-left: 8px;">
            <input type="text" style="width: 20px; height: 13px;" value="@Model.Hours" id="hours" />
            h
            <input type="text" style="width: 20px; height: 13px;" value="@Model.Minutes" id="minutes" />
            min
        </span>
            
        <span class="span120">
            <input type="text" style="width: 20px; height: 13px;" value="@Model.Percentage" id="percentage" />
            %
        </span>
    </p>
</form>

<div id="editFormButtons">
    <div id="addButton" class="emulatedAddButton" style="float: left;">
        <img src="../../Content/add.png" style="width: 20px; height: 20px; float: left;" />
        <span style="margin-left: 10px; font-weight: bold; color: White;">Add Task</span>
        <br clear="all" />
    </div>

    <input id="taskFormCloseButton" type="button" value="Close" style="margin-left: 100px;" />
</div>