@using NoiseCalculator.Domain.Entities
@using NoiseCalculator.UI.Web.Resources
@model IEnumerable<Task>

<input type="hidden" id="hiddenTaskDialogTitle" value="@TaskResources.TaskDialogAddTitle" />

<select id="taskSelect" size="14">
    @foreach (Task task in Model)
    {
        <option value="@task.Id">@task.Title  (@task.Role.Title)</option>
    }
</select>

<div id="useTask" class="button">
    <img src="@Url.Content("~/Content/arrow_down.png")" class="buttonIcon" />
    @TaskResources.TaskDialogButtonUseTask
</div>

<br clear="all" />
    
<div id="taskForm"></div>