@using NoiseCalculator.UI.Web.Resources
@using NoiseCalculator.UI.Web.ViewModels
@model IEnumerable<TaskSelectViewModel>

<input type="hidden" id="hiddenTaskDialogTitle" value="@TaskResources.TaskDialogAddTitle" />

<select id="taskSelect" size="19">
    @foreach (TaskSelectViewModel task in Model)
    {
        <option value="@task.Id-@task.RoleType">@task.Title  (@task.Role)</option>
    }
</select>

<div id="useTask" class="button">
    <img src="@Url.Content("~/Content/arrow_down.png")" class="buttonIcon" />
    @TaskResources.TaskDialogButtonUseTask
</div>

<br clear="all" />
    
<div id="taskForm"></div>