@using NoiseCalculator.UI.Web.ViewModels
@model IEnumerable<SelectedTaskViewModel> 
@{
    ViewBag.Title = "My Tasks";
}

<script src="../../Scripts/jquery-ui-1.8.16.min.js" type="text/javascript"></script>
<link href="../../Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    var addTaskUrl = "@Url.Action("AddTask")";
    var getCreateTaskFormUrl = "@Url.Action("GetCreateFormForTask")";
    var getEditTaskFormUrl = "@Url.Action("GetEditFormForSelectedTask")";
    var removeTaskUrl = "@Url.Action("RemoveTask")";
    var getTotalPercentageUrl = "@Url.Action("GetTotalPercentage")";
</script>

<script src="../../Scripts/Tasks.js" type="text/javascript"></script>

<h2 id="tasklistHeading">My Tasks - <span id="statusText"></span></h2>

<div class="separatorDiv"></div>

<div id="taskList" style="min-height: 40px;">
    @foreach (SelectedTaskViewModel selectedTask in Model)
    {
        @Html.Partial("_SelectedTask", selectedTask);
    }
</div>
    
<div class="separatorDiv"></div>

@*ADD BUTTON*@
<div id="addTask" class="emulatedAddButton">
    <img src="@Url.Content("~/Content/add.png")" class="buttonIcon" />
    <span class="buttonText">Add Task</span>
</div>

<div id="totalDailyPercentageDiv">
    <span id="totalDailyText">Total Daily Dosage: </span>
    <span id="totalDailyPercentage"></span>
</div>
    
<br clear="all" />

<div id="taskPopup" style="display: none"></div>